*cache*
*temp*
data/*/
./logs*
data/*.zip
data/*.csv
data/*.bat
*tmp*
saved-models/*/
saved-model/*/
saved_models/*/
saved_model/*/
**/*.log
**/*.zip
**/*.sh
**/*.in
core.*
*out.*
**/*.tar.*
*.ipynb_checkpoints
**/*.tfci
outputs/
*.tamulauncher*
*.vscode
**/tutorial*
dask-worker-space/
*.ipynb